html {
  height: 100%;
  width: 100%;
}
body{
  background-color:#a6a6a6; /*fona krāsa*/
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color:#fd7cdb;
  font-family: Sofia;
  font family: cursive;
p {
  color:#78bf0d;
  
  

}